<%= render template: 'locations/new' %>

<h2>Current Weather for <%= @location.name.capitalize %></h2>

<div id="forecast_current">
  <ul class="pricing-table">
    <li class="title">Today</li>
    <li class="price">
    <%= @location.weather_temp_c %>&#176;c /
    <%= @location.weather_temp_f %>&#176;f
    </li>
    <li class="description">
      <%= @location.weather_description %>
    </li>
  </ul>
</div>

<h3>5 Day Forecast</h3>
<table width="100%">
  <thead>
    <tr>
      <th></th>
      <th>Day</th>
      <th>Min</th>
      <th>Max</th>
    </tr>
  </thead>
  <tbody>
    <% @location.weather.each_with_index do |forecast, i| %>
      <%= render 'forecast', forecast: forecast, index: i %>
    <% end %>
  </tbody>
</table>

